header {
    height: 80px;
}

aside {
    width: 200px;
    height: calc(100vh - 80px);

        ul {
            list-style: none;

            li a {
                color: white;
                text-decoration: none;
            }
        }

    }
